<h1> Admin </h1>

<center>
  <div class='table-width-desktop'>
    <table class='table table-hover' >
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Sign In Count</th>
          <th>Last Session</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.last_name %>
              </td>
              <td>
                <%= user.first_name %>
              </td>
              <td>
                <%= user.sign_in_count %>
              </td>
              <td>
                <%= user.last_sign_in_at %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</center>
