<% provide(:title, 'ANALYTICS') %>

<h1>Analytics</h1>

<table class='u-full-width'>
  <thead>
    <th class='medium-grey-text'>Metric</th>
    <th class='medium-grey-text'>Count</th>
  </thead>
  <tr>
    <td class='medium-grey-text'>2015: Number of Swims</td>
    <td class='medium-grey-text'><%= @records_2015.count %></td>
  </tr>
  <tr>
    <td class='medium-grey-text'>2015: Unique Swimmers</td>
    <td class='medium-grey-text'><%= @unique_2015 %></td>
  </tr>
  <tr>
    <td class='medium-grey-text'>2014: Number of Swims</td>
    <td class='medium-grey-text'><%= @records_2014.count %></td>
  </tr>
  <tr>
    <td class='medium-grey-text'>2014: Unique Swimmers</td>
    <td class='medium-grey-text'><%= @unique_2014 %></td>
  </tr>
</table>

<div class='u-pull-left'>
  <a class='button button-primary button-primary-solid' href='/records.csv'>
    Export All Records
  </a>
</div>
