<% provide(:title, 'FAQ') %>

<h1>Frequently Asked Questions (FAQ)</h1>

<h4>What if I can’t find a swimmer?</h4>
<p>
  <b>In State (CO LMSC):</b><br>
  Mobile: Please verify correct spelling, and check all swimmers have been loaded by clicking the <b>Load More</b> button at the bottom of the check in page. Click the ‘gear’ icon at the top of the navigation bar titled <b>Settings</b>, then click <b>Update Local USMS Database</b>. It will take approximately 2 minutes to update the database, then please search for the swimmer again on the <b>Check In</b> page.
  Tablet/Desktop: This process is as follows on mobile with the exception of the navigation. On tablet or desktop view the ‘Update Local Database’ button will be nested under ‘Account’ in the navigation bar at the top of the page.
</p>

<p>
  <b>Out of State (Non-CO LMSC):</b>
  See below: <a href='#out_of_state'>How do I check in out of state swimmers?</a>
</p>
<br>

<h4>What if a swimmer needs to update their phone number?</h4>
<p>Visit the <b>Check In</b> page and search for the swimmer by last name in the search box at the top of the page. Once the correct swimmer is identified click the swimmers name to go to his/her profile. Next click the <b>Edit</b> button. Enter the new phone number within the text box and click <b>Save Changes</b> to update.</p>
<br>

<div id='out_of_state'>
  <h4>How do I check in out of state swimmers?</h4>
  <p>
    <b>Mobile:</b> Visit the <b>Check In</b> page and scroll down to the bottom. Click the <b>Search Out of State</b> button. Once on the <b>Out of State Search page</b>, enter the swimmers <b><i>last name</i></b> into the text box and click <b>Search</b> to query the USMS database for all swimmers with that last name. Once you identify the correct swimmer click the <b>Add</b> button to add the selected swimmer to the Colorado <b>Check In</b> page. Proceed to the <b>Check In Page</b> to add phone number and check in / check out like any other swimmer.
  </p>
  <p><b>Tablet/Desktop:</b> Access the Out of State Page by clicking the <b>Out of State</b> button on the navigation bar at the top of your screen. Follow the same procedure for mobile devices above to search and add swimmers for check in.</p>
</div>
<br><br><br><br>
