<div class='table-responsive'>
  <table class='table table-hover table-condensed'>
    <thead>
      <tr>
        <th></th>
        <th>
          <a href='' ng-click="predicate.value = 'swimmer.last_name'; reverse=!reverse">
            Last Name
          </a>
        </th>
        <th>
          <a href='' ng-click="predicate.value = 'swimmer.first_name'; reverse=!reverse">
            First Name
          </a>
        </th>
        <th>MI</th>
        <th class='hidden-xs'>Check In</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='swimRecord in SwimRecords | orderBy:predicate.value:reverse |
                     filter:search'>
        <td>
          <div ng-if='showPhone(swim_record.swimmer.phone_number)'>
            <a ng-href='tel:{{swim_record.swimmer.phone_number}}'>
              <span style='color: green; font-size: 10pt' class='glyphicon glyphicon-earphone'></span>
            </a>
          </div>
        </td>
        <td>
          <a ng-href='/swimmers/{{swimRecord.swimmer.id}}'>
            {{swimRecord.swimmer.last_name}}
          </a>
        </td>
        <td>{{swimRecord.swimmer.first_name}}</td>
        <td>{{swimRecord.swimmer.middle_initial}}</td>

        <td>
          <check-out info='swimRecord'></check-out>
        </td>
      </tr>
    </tbody>
  </table>
</div>
