<div class='table-responsive'>
  <table class='table table-hover table-condensed'>
    <thead>
      <tr>
        <th></th>
        <th>
         <a href="" ng-click="predicate.value = 'swimmer.last_name'; reverse=!reverse">
           Last Name</a>
        </th>
        <th>
         <a href="" ng-click="predicate.value = 'swimmer.first_name'; reverse=!reverse">
           First Name </a>
        </th>
        <th>MI</th>
        <th class = 'hidden-xs'>USMS Number</th>
        <th class = 'hidden-xs'>LMSC</th>
        <th>
         <a href="" ng-click="predicate.value = 'swimmer.check_in'; reverse=!reverse">
           Checked In </a>
        </th>
        <th>Checked In By</th>
        <th>
         <a href="" ng-click="predicate.value = 'swimmer.check_out'; reverse=!reverse">
           Checked Out </a>
        </th>
        <th>Checked By</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='record in Records | orderBy:predicate.value:reverse |
                     filter:search'>
        <td>
          <div ng-if="showPhone(swimmer.phone_number)">
            <span style="color: green; font-size: 14pt" class="glyphicon glyphicon-earphone"></span>
          </div>
        </td>
        <td>{{record.swimmer.last_name}}</td>
        <td>{{record.swimmer.first_name}}</td>
        <td>{{record.swimmer.middle_initial}}</td>
        <td class = 'hidden-xs'>{{record.swimmer.usms_number}}</td>
        <th class = 'hidden-xs'>{{record.swimmer.lmsc}}</td>
        <td>{{record.check_in | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{record.check_in_user_id}}</td>
        <td>{{record.check_out | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{record.check_out_user_id}}</td>
      </tr>
    </tbody>
  </table>
</div>
