<% provide(:title, 'CHECK OUT') %>

<div ng-controller='SwimmersCtrl'>
  <h1>Check Out</h1>

  <div class='u-pull-left'>
    <input class='u-input-width' type='text' ng-model='search.last_name' placeholder='Search Last Name' autocorrect='off'/>
  </div>

  <table class='u-full-width'>
    <thead ng-show='filterSwimRecords.length'>
      <tr>
        <th></th>
        <th class='visible-xs'></th>
        <th class='hidden-xs medium-grey-text'>Name</th>
        <th class='hidden-xs medium-grey-text'>USMS#</th>
        <th class='hidden-xs medium-grey-text'>LMSC</th>
        <th class='hidden-xs medium-grey-text'>Check In</th>
        <th class='hidden-xs medium-grey-text'>Phone Number</th>
        <th class='visible-xs'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='swimRecord in filterSwimRecords = (swimRecords
                    | orderBy:predicate.value:reverse
                    | filter:search.last_name)'>
        <td ng-click='checkOut(swimRecord)'>
          <check-out ng-click="search.swimmer.last_name=''" info='swimRecord'></check-out>
        </td>
        <td class='visible-xs'>
          <a ng-href='/swimmers/{{swimRecord.swimmer.id}}'>
            {{swimRecord.swimmer.last_name}}, {{swimRecord.swimmer.first_name}} {{swimRecord.swimmer.mi}}
          </a>
        </td>
        <td class='hidden-xs'>
          <a ng-href='/swimmers/{{swimRecord.swimmer.id}}'>
            {{swimRecord.swimmer.last_name}}, {{swimRecord.swimmer.first_name}} {{swimRecord.swimmer.mi}}
          </a>
        </td>
        <td class='hidden-xs medium-grey-text'>{{swimRecord.swimmer.usms_number}}</td>
        <th class='hidden-xs medium-grey-text'>{{swimRecord.swimmer.lmsc}}</td>
        <td class='hidden-xs medium-grey-text'>{{swimRecord.check_in | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>
          <a ng-href='tel:{{swimRecord.swimmer.phone_number}}'>
            CALL
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <center>
    <div ng-show='!filterSwimRecords.length'>
      <p>No swimmers are found or you have none checked in.<br>
        <a href='#' ng-click="search.last_name=''">NEW SEARCH</a></p>
    </div>
  </center>
</div>
