<h1>Listing swim_records</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swim_records.each do |swim_record| %>
      <tr>
        <td><%= link_to 'Show', swim_record %></td>
        <td><%= link_to 'Edit', edit_swim_record_path(swim_record) %></td>
        <td><%= link_to 'Destroy', swim_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swim record', new_swim_record_path %>
