<div ng-app='comsatrack'>
  <div ng-controller='SwimRecordsCtrl'>
    <% provide(:title, 'Check Out') %>
    <div class='hidden-xs desktop-alert-centering'>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <h1>Swimmer Check Out</h1>
    </div>
    <div class='visible-xs'>
      <div class='navbar-fixed-top'>
          <alert ng-repeat="alert in alerts" style='text-align: center;' type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <br><br>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <div class="input-group">
          <input class="form-control" ng-model="search.swimmer.last_name"
                 placeholder="Search Last Name"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
      </div>
      <div class='col-md-7'></div>
      <div class='col-md-2'>
    </div>
    <div class='hidden-xs'>
      <br><br><br>
    </div>
      <table class='table table-hover table-condensed'>
        <thead>
          <tr>
            <th></th>
            <th class='visible-xs'>
             <a href='' ng-click="predicate.value = 'last_name'; reverse=!reverse">
               Full Name</a>
            </th>
            <th class='hidden-xs'>
              <a href="" ng-click="predicate.value = 'last_name'; reverse=!reverse">
                Last Name</a>
            </th>
            <th class='hidden-xs'>First Name</th>
            <th class='hidden-xs'>MI</th>
            <th class='hidden-xs'>USMS Number</th>
            <th class='hidden-xs'>LMSC</th>
            <th class='hidden-xs'>Check In</th>
            <th> Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='swimRecord in SwimRecords | orderBy:predicate.value:reverse |
                         filter:search'>
            <td ng-click="search.swimmer.last_name=''" ng-click='deleteRow(swimRecord)'>
              <check-out ng-click='addAlert(swimRecord)' info='swimRecord'></check-out>
            </td>
            <td class='visible-xs'>
              <a ng-href='/swimmers/{{swimRecord.swimmer.id}}'>
                {{swimRecord.swimmer.last_name}},
                {{swimRecord.swimmer.first_name}}
                {{swimRecord.swimmer.mi}}
              </a>
            </td>
            <td class='hidden-xs'>
              <a ng-href='/swimmers/{{swimRecord.swimmer.id}}'>
                {{swimRecord.swimmer.last_name}}
              </a>
            </td>
            <td class='hidden-xs'>{{swimRecord.swimmer.first_name}}</td>
            <td class='hidden-xs'>{{swimRecord.swimmer.mi}}</td>
            <td class='hidden-xs'>{{swimRecord.swimmer.usms_number}}</td>
            <th class='hidden-xs'>{{swimRecord.swimmer.lmsc}}</td>
            <td class='hidden-xs'>{{swimRecord.check_in | date:'MM/dd/yyyy @ h:mma'}}</td>
            <td>
              <a ng-href='tel:{{swimRecord.swimmer.phone_number}}'> {{swimRecord.swimmer.phone_number}}</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
