<div class='visible-xs'>
  <br>
  <center>
    <p style='color: #C0C0C0'>
      <a style='color: #C0C0C0' href = '/privacy'>
        Privacy
      </a> |
      <a style='color: #C0C0C0' href = '/tos'>
        Terms of Service
      </a> |
      <a style='color: #C0C0C0' href = '/faq'>
        FAQ
      </a>
      <br>
      &#169; 2014 Affektive Software LLC
    </p>
  </center>
</div>
