<div class='modal-header'>
  <center>
    <h3 class='modal-title'>Add Swimmer</h3>
  </center>
</div>
<div class='modal-body'>
  <form name='userForm'
        ng-submit='submitForm(userForm.$valid)'
        novalidate>
    <div class='form-group'
         ng-class="{ 'has-error' : userForm.phone_number.$invalid && !userForm.phone_number.$pristine }">
      <label>First Name<span style='color: red'> *</span></label>
      <input style='width:100%'
             name='first_name'
             class='form-control'
             ng-model='swimmer.first_name'
             ng-minlength='1'
             placeholder='First'
             autocorrect='off'
             required>
             
      <label>Last Name<span style='color: red'> *</span></label>
      <input style='width:100%'
             name='last_name'
             class='form-control'
             ng-model='swimmer.last_name'
             ng-minlength='1'
             placeholder='Last'
             autocorrect='off'
             required>

      <label>Phone Number<span style='color: red'> *</span></label>
      <input style='width:100%'
             type='tel'
             name='phone_number'
             class='form-control'
             ng-model='swimmer.phone_number'
             ng-minlength='10'
             placeholder='7778889999'
             autocorrect='off'
             required>
      <p ng-show='userForm.phone_number.$error.minlength'
         class='help-block'>
        Phone number not valid
      </p>
      
      <label>Date of Birth</label>
      <input type='date'
             ng-model='swimmer.date_of_birth'>

      <label>Email</label>
      <input style='width:100%'
             name='email'
             class='form-control'
             ng-model='swimmer.email'
             placeholder='name@example.com'
             autocorrect='off'>

      <label>Emergency Contact First Name</label>
      <input style='width:100%'
             name='emergency_first'
             class='form-control'
             ng-model='swimmer.emergency_first'
             placeholder='First'
             autocorrect='off'>

      <label>Emergency Contact Last Name</label>
      <input style='width:100%'
             name='emergency_last'
             class='form-control'
             ng-model='swimmer.emergency_last'
             placeholder='Last'
             autocorrect='off'>

      <label>Emergency Contact Phone</label>
      <input style='width:100%'
             type='tel'
             name='emergency_phone'
             class='form-control'
             ng-model='swimmer.emergency_phone'
             placeholder='7778889999'
             autocorrect='off'>

    </div>
  </form>
</div>
<div class='modal-footer'>
  <button type='submit'
          class='u-full-width button-success button-success-solid button-disabled'
          ng-if='userForm.$invalid'>
    Save
  </button>
  <button type='submit'
          class='u-full-width button-success button-success-solid'
          ng-click='createSwimmer()'
          ng-if='!userForm.$invalid'>
    Save
  </button>
  <button class='u-full-width button-info'
          ng-click='cancel()'>
    Cancel
  </button>
</div>
