<h1>Check In</h1>
<ng-include src="'/search.html'"></ng-include>

<br><br>

<table class='u-full-width'>
  <thead ng-show='filterSwimmers.length'>
    <tr>
      <th></th>
      <th class='visible-xs'></th>
      <th class='hidden-xs medium-grey-text'>Name</th>
      <th class='hidden-xs medium-grey-text'>USMS</th>
      <th class='hidden-xs medium-grey-text'>LMSC</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="swimmer in filterSwimmers = (swimmers
                   | orderBy:['last_name','first_name']
                   | filter:search.last_name
                   | limitTo:totalDisplayed )">
      <td>
        <button ng-if='!swimmer.phone_added' ng-click="open(swimmer)"
               class='button button-primary button-width-default'>
          Add Phone
        </button>
        <button ng-if='swimmer.phone_added' ng-click="checkIn(swimmer)"
                ng-class="!swimmer.swimmer_checked_in && swimmer.phone_number ? 'button-success' : 'button-danger button-disabled'"
                class='button button-width-default'>
          {{!swimmer.swimmer_checked_in && swimmer.phone_number ? 'Check In' : 'Checked In'}}
        </button>
      </td>
      <td>
        <a ng-click='viewSwimmer(swimmer)'>{{swimmer.last_name}}, {{swimmer.first_name}}</a>
      </td>
      <td class='hidden-xs medium-grey-text'>{{swimmer.usms_number}}</td>
      <th class='hidden-xs medium-grey-text'>{{swimmer.lmsc}}</td>
    </tr>
  </tbody>
</table>
<center>
  <div ng-show='!filterSwimmers.length'>
    <p>No swimmers found.<br><a href='#' ng-click="search.last_name=''">NEW SEARCH</a></p>
    <a ng-href='/out_of_state' class='button button-info button-info-solid'>Search Out of State</a>
  </div>
  <div ng-show='filterSwimmers.length'>
    <btn class='button button-info button-width-extended button-info-solid' ng-click='loadMore()'>Load More</btn>
  </div>
</center>
