<div class='click-to-edit'>
  <div ng-hide='view.editorEnabled'>
    <button ng-click='enableEditor()'
            class='btn-sm btn'
            ng-class="swimmer.phone_number ? 'btn-primary' : 'btn-primary'">
            Add Phone
    </button>
  </div>
  <div ng-show='view.editorEnabled'>
    <input class='swimmer-check-in' ng-model='view.editableValue' type='tel'>
    <button ng-click='save()' class='btn-sm btn-default'>Save</button>
    <button ng-click='disableEditor()' class='btn-sm btn-danger'>X</button>
  </div>
</div>

