<h1>Monitors</h1>
<input class='u-pull-left search'
       type='text'
       ng-model='search.last_name'
       ng-model-options='{debounce: 1500}'
       immediate="true"
       placeholder='Search Last Name'
       autocorrect='off'/>
<div class='u-pull-right hidden-xs'>
  <a class='button button-info button-info-solid' ui-sref='monitorsNew'>
    Add Monitor
  </a>
</div>

<table class='u-full-width'>
  <thead ng-show='filterUsers.length'>
    <tr>
      <th class='visible-xs'></th>
      <th class='hidden-xs medium-grey-text'>Name</th>
      <th class='hidden-xs medium-grey-text'>Email</th>
      <th class='hidden-xs medium-grey-text'>Phone Number</th>
      <th class='visible-xs'></th>
      <th class='hidden-xs medium-grey-text'>Admin</th>
    </tr>
  </thead>
  <tbody ng-repeat='user in filterUsers = (users
                   | orderBy:predicate.value:reverse
                   | filter:search.last_name)'>
  <tr>
    <td>
      <a ng-if='currentUser.admin' ng-click='open(user)'>{{user.last_name}}, {{user.first_name}}</a>
      <a ng-if='!currentUser.admin'>{{user.last_name}}, {{user.first_name}}</a>
    </td>
    <td class='hidden-xs'><a href='mailto:{{user.email}}'>{{user.email}}</a></td>
    <td><a ng-href='tel:{{user.phone_number}}'>{{user.phone_number}}</a></td>
    <td class='hidden-xs medium-grey-text'>{{user.admin | booleanToWords}}</td>
  </tr>
</tbody>
</table>

<center>
  <div ng-hide='filterUsers.length'>
    <p>No monitors found.<br><a href='#' ng-click="search.last_name=''">NEW SEARCH</a></p>
  </div>
</center>
