<h1>Edit My Profile</h1>
<form class='table-width-desktop u-grey-border'>
  <label>First Name</label>
  <input ng-model='user.first_name' class='u-full-width' type='text' placeholder='Robb'>
  <label>Last Name</label>
  <input ng-model='user.last_name' class='u-full-width' type='text' placeholder='Stark'>
  <label>Email</label>
  <input ng-model='user.email' class='u-full-width' type='email' placeholder='rob.stark@got.com'>
  <label>Phone</label>
  <input ng-model='user.phone_number' class='u-full-width' type='text' placeholder='111-222-3333'>
  <label>Password</label>
  <input ng-model='user.password' class='u-full-width' type='password' placeholder='Password'>
  <label>Password Confirmation</label>
  <input ng-model='user.password_confirmation' class='u-full-width' type='password' placeholder='Password Confirmation'>
  <input class='u-full-width button-info button-info-solid' ng-click='update()' type='submit' value='Update'>
</form>
