<h1>Out of State</h1>

<div class='row'>
  <div class='col-md-5 col-xs-12'>
    <input ng-model='lastName' class='search' autocorrect='off' placeholder='Find by Last Name' type='text'/>
    <input class='button button-info button-info-solid search' ng-click='search()' value='Search'/>
  </div>
  <div class='col-md-3 col-xs-12'>
    <input class='u-pull-left search'
    type='text'
    ng-model='search.swimmer.first_name'
    ng-model-options='{debounce: 1500}'
    immediate='true'
    placeholder='Search First Name'
    autocorrect='off'/>
  </div>
</div>


<table class='u-full-width' ng-show='filteredSwimmers.length > 0'>
  <thead>
    <tr>
      <th></th>
      <th class='visible-xs'></th>
      <th class='hidden-xs medium-grey-text'>Name</th>
      <th class='hidden-xs medium-grey-text'>USMS</th>
      <th class='hidden-xs medium-grey-text'>LMSC</th>
      <th class='hidden-xs medium-grey-text'>CLUB</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in filteredSwimmers = (outOfState
                   | orderBy:predicate.value:reverse
                   | filter: search.swimmer.first_name
                   | limitTo:totalDisplayed )"
        ng-if="data.swimmer.lmsc != 'CO'">
      <td>
        <button ng-click='addSwimmer(data.swimmer)' class='button button-primary button-width-default'>Add</button>
      </td>
      <td>
        <a>{{data.swimmer.last_name}}, {{data.swimmer.first_name}} {{data.swimmer.mi}}</a>
      </td>
      <td class='hidden-xs medium-grey-text'>{{data.swimmer.usms_number}}</td>
      <th class='hidden-xs medium-grey-text'>{{data.swimmer.lmsc}}</td>
      <th class='hidden-xs medium-grey-text'>{{data.swimmer.club}}</td>
    </tr>
  </tbody>
</table>
<br><br><br>
<center>
  <div ng-show='!filteredSwimmers.length'>
    <p>No swimmers found.<br><a href='#' ng-click="search.swimmer.last_name=''">NEW SEARCH</a></p>
  </div>
  <div ng-show='filteredSwimmers.length'>
    <btn class='button button-info button-width-extended button-info-solid' ng-click='loadMore()'>Load More</btn>
  </div>
</center>
