<div class='modal-header'>
  <center>
    <h3 class='modal-title'>Setup Swimmer</h3>
    <p>{{swimmer.last_name}}, {{swimmer.first_name}}</p>
  </center>
</div>
<div class='modal-body'>
  <form name='userForm'
        ng-submit='submitForm(userForm.$valid)'
        novalidate>
    <div class='form-group'
         ng-class="{ 'has-error' : userForm.phone_number.$invalid && !userForm.phone_number.$pristine }">
      <label>Phone Number<span style='color: red'> *</span></label>
      <input style='width:100%'
             type='tel'
             name='phone_number'
             class='form-control'
             ng-model='swimmer.phone_number'
             ng-minlength='10'
             placeholder='7778889999'
             autocorrect='off'
             required>
      <p ng-show='userForm.phone_number.$error.minlength'
         class='help-block'>
        Phone number not valid
      </p>
    </div>
    <div class='form-group'
         ng-class="{ 'has-error' : userForm.waiver_received.$invalid && !userForm.waiver_received.$pristine }">
      <p class='help-block'>
        WAIVER ON FILE?
      </p>
      <button ng-click='agreeToWaiver()'
              class='u-full-width button button-warning button-width-default'
              ng-hide='swimmer.waiver_received'>
        RECEIVED WAIVER
      </button>
      <button class='u-full-width button button-warning button-width-default button-disabled'
              ng-show='swimmer.waiver_received'>
        RECEIVED WAIVER
      </button>
    </div>
  </form>
</div>
<div class='modal-footer'>
  <span ng-show='swimmer.waiver_received'>
    <button type='submit'
            class='u-full-width button-info button-success-solid button-disabled'
            ng-if='userForm.$invalid'>
      Check In
    </button>
    <button type='submit'
            class='u-full-width button-info button-success-solid'
            ng-click='update()'
            ng-if='!userForm.$invalid'>
      Check In
    </button>
  </span>
  <button class='u-full-width button-danger button-danger-solid'
          ng-click='cancel()'>
    Cancel ME
  </button>
</div>
