<div ng-controller='UsersCtrl'>
  <h1>Monitors</h1>
  <input class='u-pull-left search'
         type='text'
         ng-model='search.last_name'
         ng-model-options='{debounce: 800}'
         immediate="true"
         placeholder='Search Last Name'
         autocorrect='off'/>

  <div class='u-pull-right hidden-xs'>
    <a href='/monitors/add' class='button button-info button-info-solid'>
      Add Monitor
    </a>
  </div>

  <table class='u-full-width'>
    <thead ng-show='filterUsers.length'>
      <tr>
        <th class='visible-xs'></th>
        <th class='hidden-xs medium-grey-text'>Name</th>
        <th class='hidden-xs medium-grey-text'>Email</th>
        <th class='hidden-xs medium-grey-text'>Phone Number</th>
        <th class='visible-xs'></th>
        <th class='hidden-xs medium-grey-text'>Admin</th>
        <div ng-if='currentUser.admin'>
          <th class='hidden-xs'></th>
        </div>
      </tr>
    </thead>
    <tbody ng-repeat='user in filterUsers = (users
                     | orderBy:predicate.value:reverse
                     | filter:search.last_name)'>
    <tr>
      <td class='medium-grey-text'>
        {{user.last_name}}, {{user.first_name}}
      </td>
      <td class='hidden-xs'><a href='mailto:{{user.email}}'>{{user.email}}</a></td>
      <td><a ng-href='tel:{{user.phone_number}}'>{{user.phone_number}}</a></td>
      <td class='hidden-xs medium-grey-text'>{{user.admin | booleanToWords}}</td>
      <td ng-if='currentUser.admin' class='hidden-xs'>
        <a class='button button-info button-info-solid' ng-click='updateAdmin(user)' style='width:165px;'>
          <span ng-if='!user.admin'>
            Add Admin
          </span>
          <span ng-if='user.admin'>
            Remove Admin
          </span>
        </a>
      </td>
    </tr>
  </tbody>
  </table>
  <center>
    <div ng-hide='filterUsers.length'>
      <h5 class='medium-grey-text'>No monitors found.</h5>
      <a href='#' ng-click="search.last_name=''">NEW SEARCH</a>
    </div>
  </center>
</div>
