<div ng-controller='UserCtrl'>
  <h1>{{user.first_name}} {{user.last_name}}</h1>

  <div class='table-width-desktop'>
    <a class='button button-info button-info-solid' href='/my_profile/edit'>
      Edit Profile
    </a>
    <table class='u-full-width'>
      <tr><th></th><td></td></tr>
      <tr>
        <th class='medium-grey-text'>First Name</th>
        <td class='medium-grey-text'>{{user.first_name}}</td>
      </tr>
      <tr>
        <th class='medium-grey-text'>Last Name</th>
        <td class='medium-grey-text'>{{user.last_name}}</td>
      </tr>
      <tr>
        <th class='medium-grey-text'>Email</th>
        <td class='medium-grey-text'>
          <a href='mailto:{{user.email}}'>{{user.email}}</a>
        </td>
      </tr>
      <tr>
        <th class='medium-grey-text'>Phone</th>
        <td class='medium-grey-text'>
          <a href='tel:{{user.phone_number}}'>
            {{user.phone_number}}
          </a>
        </td>
      </tr>
      <tr>
        <th class='medium-grey-text'>Admin</th>
        <td class='medium-grey-text'>{{user.admin | booleanToWords}}</td>
      </tr>
    </table>
  </div>
