<% provide(:title, "#{@user.first_name} #{@user.last_name.each_char.first}.") %>

<div ng-controller='UsersCtrl'>
  <div ng-init="user = <%= @user.to_json %>"></div>
  <div ng-init="currentUser = <%= current_user.to_json %>"></div>

  <h1>{{user.first_name}} {{user.last_name}}</h1>

  <div class='table-width-desktop'>
    <div ng-if='currentUser.admin && currentUser.id != user.id'>
      <div class='u-pull-right'>
        <button ng-click='updateAdmin(user)' class='button button-width-default'
             ng-class="{'button-danger button-danger-solid ': user.admin, 'button-success button-success-solid': !user.admin}">
          {{!user.admin ? ' Add' : ' Remove'}} Admin
        </button>
      </div>
    </div>

    <div class='u-pull-left'>
      <a class='button button-info button-info-solid' href='/users/{{user.id}}/edit'>
        Edit Profile
      </a>
    </div>

    <table class='u-full-width'>
      <tr><th></th><td></td></tr>
      <tr>
        <th>First Name</th>
        <td>{{user.first_name}}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{user.last_name}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <a href='mailto:{{user.email}}'>{{user.email}}</a>
        </td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>
          <a href='tel:{{user.phone_number}}'>
            {{user.phone_number}}
          </a>
        </td>
      </tr>
      <tr>
        <th>Admin</th>
        <td>{{user.admin | booleanToWords}}</td>
      </tr>
    </table>
  </div>
</div>
