<% provide(:title, 'Sign In') %>

<div class='devise devise-screen'>
  <div class='u-full-width-title'><h1 class='devise-title'>COMSA TRACKER</h1></div>
    <%= bootstrap_form_for(resource, :as => resource_name,:url => session_path(resource_name)) do |f| %>
      <input class='u-full-width' type='email' id='user_email' name='user[email]' placeholder='user@example.com' autofocus='true'>
      <input class='u-full-width' type='password' id='user_password' name='user[password]' placeholder='Password'>
      <button class='u-full-width button-info button-info-solid'>Login</button>
      <hr>
      <center>
        <a href='/COMSA_Tracker_Quick_Reference_rev2.pdf'>Instructions</a>
        <div class='visible-xs light-grey-text'><br>&#169; 2014 Affektive Software LLC</div>
      </center>
    <% end %>
  </div>
</div>

<footer class='footer hidden-xs'>
  <nav class='navbar-fixed-bottom'>
    <p class='light-grey-text'>
      <a class='light-grey-text' href = '/privacy'>
        Privacy
      </a> |
      <a class='light-grey-text' href = '/tos'>
        Terms of Service
      </a> |
      <a class='light-grey-text' href = '/faq'>
        FAQ
      </a>
      <br>
      &#169; 2014 Affektive Software LLC
    </p>
  </nav>
</footer>
