<div class='table-responsive'>
  <table class='table table-hover table-condensed' >
    <thead>
      <tr>
        <th>Action</th>
        <th class='visible-xs'>
         <a href='' ng-click="predicate.value = 'last_name'; reverse=!reverse">
           Full Name</a>
        </th>
        <th class='hidden-xs'>
          <a href="" ng-click="predicate.value = 'last_name'; reverse=!reverse">
            Last Name</a>
        </th>
        <th class='hidden-xs'>First Name</th>
        <th class='hidden-xs'>MI</th>
        <th class='hidden-xs'>USMS Number</th>
        <th class='hidden-xs'>LMSC</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='swimmer in Swimmers | orderBy:predicate.value:reverse |
                     filter:search | limitTo:totalDisplayed'>
        <td class='special_column'>
          <span class='nowrap'>
            <!-- <button class='btn btn-default' ng-click='addAlert(swimmer)'>Add Alert</button> -->
            <div style='width:85px;'>
              <check-in info='swimmer'></check-in>
            </div>
          </span>
        </td>
        <td class='visible-xs'>
          <a ng-href='/swimmers/{{swimmer.id}}'>
            {{swimmer.last_name}}, {{swimmer.first_name}} {{swimmer.middle_initial}}
          </a>
        </td>
        <td class='hidden-xs'>
          <a ng-href='/swimmers/{{swimmer.id}}'>
            {{swimmer.last_name}}
          </a>
        </td>
        <td class='hidden-xs'>{{swimmer.first_name}}</td>
        <td class='hidden-xs'>{{swimmer.middle_initial}}</td>
        <td class='hidden-xs'>{{swimmer.usms_number}}</td>
        <th class='hidden-xs'>{{swimmer.lmsc}}</td>
      </tr>
    </tbody>
  </table>
</div>
