<% provide(:title, 'Analytics') %>

<div ng-controller='AnalyticsCtrl'>
  <h1>Analytics</h1>

  <center>
    <div google-chart chart='chart' style='height: 400px;' class='u-full-width'></div>
  </center>
</div>

 <center>
  <%= link_to 'VIEW SWIM RECORDS', '/records' %>
 </center>