<div ng-controller='AnalyticsCtrl'>
  <h1>Analytics</h1>

  <center>
    <div google-chart chart='chart' style='height: 400px;' class='u-full-width'></div>
    <br><br>
    <a class='button button-info button-info-solid' href='2014_records.csv'>
      Export 2014 Records
    </a>
    <a class='button button-info button-info-solid' href='/api/records.csv'>
      Export 2015 Records
    </a>
  </center>
</div>
