<% provide(:title, 'Check Out') %>

<div ng-controller='SwimmersCtrl'>
  <h1>Check Out</h1>

  <input class='u-pull-left search'
         type='text'
         ng-model='search.last_name'
         ng-model-options='{debounce: 800}'
         immediate='true'
         placeholder='Search Last Name'
         autocorrect='off'/>
  <button class='button button-info button-info-solid search' ng-click='searchSwimmers()'>
    Search
  </button>
  <br><br>
  <div ng-if='loading'>
    <center>
      <h5 class='medium-grey-text'>Loading your swimmers...</h5>
    </center>
  </div>
  <table ng-if='!loading' class='u-full-width'>
    <thead ng-show='filterSwimRecords.length'>
      <tr>
        <th></th>
        <th class='visible-xs'></th>
        <th class='hidden-xs medium-grey-text'>Name</th>
        <th class='hidden-xs medium-grey-text'>Check In</th>
        <th class='hidden-xs medium-grey-text'>Phone</th>
        <th class='visible-xs'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='swimRecord in filterSwimRecords = (swimRecords
                     | orderBy:predicate.value:reverse
                     | filter:search.last_name)'>
      <td>
        <div ng-switch="swimRecord.state">
          <button ng-switch-when='0' 
                  ng-click='checkOut(swimRecord)' 
                  class='button button-danger button-width-default'>
            Check Out
          </button>
          <button ng-switch-when='1' 
                  class='button button-danger button-width-default button-disabled'>
            Checking Out...
          </button>
        </div>
      </td>
      <td>
        <a ng-click='openViewSwimmerModal(swimRecord.swimmer)'>
          {{swimRecord.swimmer.last_name}}, {{swimRecord.swimmer.first_name}}
        </a>
      </td>
        <td class='hidden-xs medium-grey-text'>{{swimRecord.check_in | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>
          <a ng-href='tel:{{swimRecord.swimmer.phone_number}}'>CALL</a>
        </td>
      </tr>
    </tbody>
  </table>
  <center>
    <div ng-if='filterSwimRecords.length == 0 && swimRecords.length > 0'>
      <h5 class='medium-grey-text'>No swimmers found.</h5>
      <a href='#' ng-click="search.last_name=''">NEW SEARCH</a></p>
    </div>
    <div ng-if='swimRecords.length == 0'>
      <h5 class='medium-grey-text'>No swimmers are checked in.</h5>
    </div>
  </center>
</div>
