<% provide(:title, 'Check Out') %>

<div ng-controller='SwimmersCtrl'>
  <h1>Check Out</h1>

  <ng-include src="'/search.html'"></ng-include>

  <table class='u-full-width'>
    <thead ng-show='filterSwimRecords.length'>
      <tr>
        <th></th>
        <th class='visible-xs'></th>
        <th class='hidden-xs medium-grey-text'>Swimmer</th>
        <th class='hidden-xs medium-grey-text'>Checked In At</th>
        <th class='hidden-xs medium-grey-text'>Phone</th>
        <th class='visible-xs'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='swimRecord in filterSwimRecords = (swimRecords
                     | orderBy:predicate.value:reverse
                     | filter: { completed: false }
                     | filter:search.last_name)'>
      <td>
        <button ng-click='checkOut(swimRecord)' class='button button-danger button-width-default'>
          Check Out
        </button>
      </td>
      <td class='medium-grey-text'>
        {{swimRecord.swimmer.last_name}}, {{swimRecord.swimmer.first_name}}
      </td>
        <td class='hidden-xs medium-grey-text'>{{swimRecord.check_in | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>
          <a ng-href='tel:{{swimRecord.swimmer.phone_number}}'>CALL</a>
        </td>
      </tr>
    </tbody>
  </table>
  <center>
    <div ng-if='filterSwimRecords.length == 0 && swimRecords.length > 0'>
      <h5 class='medium-grey-text'>No swimmers found.</h5>
      <a href='#' ng-click="search.last_name=''">NEW SEARCH</a></p>
    </div>
    <div ng-if='swimRecords.length == 0'>
      <h5 class='medium-grey-text'>No swimmers are checked in.</h5>
    </div>
  </center>
</div>
