<% provide(:title, 'Check In') %>

<div ng-controller='SwimmersCtrl'>
  <h1>Check In</h1>
  <input class='search'
         type='text'
         ng-model='search.last_name'
         placeholder='Search Last Name'
         autocorrect='off'/>
  <button class='button button-info button-info-solid search' ng-click='searchSwimmers()'>
   Search
  </button>
  <br><br>
  <div ng-if='loading'>
    <center>
      <h5 class='medium-grey-text'>Loading your swimmers...</h5>
    </center>
  </div>
  <div ng-if='!loading' ng-hide='filteredSwimmers.length'>
    <center>
      <h5 class='medium-grey-text'>Enter a swimmer’s last name and click the SEARCH button to get started.</h5>
    </center>
  </div>
  <table class='u-full-width'>
    <thead ng-show='filteredSwimmers.length'>
      <tr>
        <th></th>
        <th class='visible-xs'></th>
        <th class='hidden-xs medium-grey-text'>Name</th>
        <th ng-if='currentUser.admin' class='hidden-xs'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="swimmer in filteredSwimmers = (filterSwimmersData
                     | orderBy:['last_name','first_name'])">
        <td>
          <div ng-switch="swimmer.state">
            <button ng-switch-when='0' ng-click="openSetupModal(swimmer)"
                   class='button button-primary button-width-default'>
              Setup
            </button>
            <button ng-switch-when='1' ng-click="checkIn(swimmer)"
                    class='button button-width-default button-success'>    
              Check In
            </button>
            <button ng-switch-when='2'
                    class='button button-width-default button-success button-disabled'>    
              Checking In...
            </button>
            <button ng-switch-when='3'
                    class='button button-width-default button-danger button-disabled'>    
              Checked In
            </button>
          </div>
        </td>
        <td>
          <a ng-if='!currentUser.admin' ng-click='openViewSwimmerModal(swimmer)'>
            {{swimmer.last_name}}, {{swimmer.first_name}}
          </a>
          <a ng-if='currentUser.admin' ng-click='openEditSwimmerModal(swimmer)'>
            {{swimmer.last_name}}, {{swimmer.first_name}}
          </a>
        </td>
        <td ng-if='currentUser.admin' class='hidden-xs'>
          <a class='button button-danger button-danger-solid' ng-click='deleteSwimmer(swimmer)' style='width:110px;'>
            DELETE
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='noResults'>
    <center>
      <h5 class='medium-grey-text'>No swimmers found</h5>
    </center>
  </div>
</div>
