<% provide(:title, 'Import Swimmers') %>

<h1>Import Swimmers</h1>
<div class='u-form-width-fix well shadowDepth1'>
  <p>
    <b>Instructions</b>
    <br />
    To import swimmers in bulk, please download and complete
    this
    <%= link_to 'Excel template',
                'https://docs.google.com/spreadsheets/d/1sPdSTcAhQlHU2BguBCGd-WLFLp0MYbKeyZLmvQcQDz4/export?format=xlsx',
                class: 'styled-link' %>.
    First name and last name are required. Phone number is not required on import, but is required before
    the swimmer can be checked in for the first time. Then, choose your file to upload and click IMPORT! 
    Note: Swimmers found in the database by first name and last name will have their phone number updated 
    (if changed). Swimmers not found in the database by first name and last name will be created as new swimmers. 
  </p>
  <hr />
  <%= form_tag swimmer_import_path, multipart: true do %>
    <%= file_field_tag :file, class:'button' %> <%= submit_tag 'IMPORT', class: 'button button-primary button-primary-solid' %>
  <% end %>
</div>
