<% provide(:title, 'Swimmers') %>

<div ng-controller='SwimmersCtrl'>
  <h1>Swimmers</h1>
  <input class='search'
         type='text'
         ng-model='search.last_name'
         placeholder='Search Last Name'
         autocorrect='off'/>
  <button class='button button-info button-info-solid search' ng-click='searchSwimmers()'>
    Search
  </button>
  <button class='pull-right button button-success button-success-solid search' ng-click='openAddSwimmerModal()'>
    Add Swimmer
  </button>
  <a class='pull-right button button-success button-success-solid search' href='/import'>
    Import Swimmers
  </a>
  <br><br>
  <div ng-hide='filteredSwimmers.length'>
    <center>
      <h5 class='medium-grey-text'>Enter a swimmer’s last name and click the SEARCH button to get started.</h5>
    </center>
  </div>
  <table class='u-full-width'>
    <thead ng-show='filteredSwimmers.length'>
      <tr>
        <th class='hidden-xs medium-grey-text'>Name</th>
        <th class='hidden-xs medium-grey-text'>Phone Number</th>
        <th ng-if='currentUser.admin' class='hidden-xs'></th>
        <th ng-if='currentUser.admin' class='hidden-xs'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="swimmer in filteredSwimmers = (filterSwimmersData
                     | orderBy:['last_name','first_name'])">
        <td>
          <a ng-if='!currentUser.admin' ng-click='openViewSwimmerModal(swimmer)'>
            {{swimmer.last_name}}, {{swimmer.first_name}}
          </a>
          <a ng-if='currentUser.admin' ng-click='openEditSwimmerModal(swimmer)'>
            {{swimmer.last_name}}, {{swimmer.first_name}}
          </a>
        </td>
        <td>
          <a ng-if='!currentUser.admin' ng-click='openViewSwimmerModal(swimmer)'>
            {{swimmer.phone_number}}
          </a>
          <a ng-if='currentUser.admin' ng-click='openEditSwimmerModal(swimmer)'>
            {{swimmer.phone_number}}
          </a>
        </td>
        <td ng-if='currentUser.admin' class='hidden-xs'>
          <a class='button button-info button-info-solid' ng-click='openEditSwimmerModal(swimmer)' style='width:110px;'>
            EDIT
          </a>
        </td>
        <td ng-if='currentUser.admin' class='hidden-xs'>
          <a class='button button-danger button-danger-solid' ng-click='delete(swimmer)' style='width:110px;'>
            DELETE
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='noResults'>
    <center>
      <h5 class='medium-grey-text'>No swimmers found</h5>
    </center>
  </div>
</div>
