<% provide(:title, "#{@swimmer.first_name.upcase} #{@swimmer.last_name.each_char.first.upcase}.") %>

<div ng-init="swimmer = <%= @swimmer.to_json %>"></div>

<h1>{{swimmer.first_name}} {{swimmer.last_name}}</h1>

<div class='table-width-desktop'>
  <div class='u-pull-right'>
    <a class='button button-info button-info-solid' href='/swimmers/{{swimmer.id}}/edit'>
      Edit Phone Number
    </a>
  </div>

  <table class='u-full-width'>
    <tr><th></th><td></td></tr>
    <tr>
    <th>First Name</th>
      <td>{{swimmer.first_name}}</td>
    </tr>
    <tr>
      <th>Middle Initial</th>
      <td>{{swimmer.mi}}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{swimmer.last_name}}</td>
    </tr>
    <tr>
      <th>USMS Number</th>
      <td>{{swimmer.usms_number}}</td>
    </tr>
    <tr>
      <th>LMSC</th>
      <td>{{swimmer.lmsc}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>
        <a href='tel:{{swimmer.phone_number}}'>
          {{swimmer.phone_number}}
        </a>
      </td>
    </tr>
  </table>
</div>
