@import "bootstrap";

/* universal */

$lightgrey: #999;

html {
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  padding-top: 0px;
  margin: 0 0 100px; /* bottom = footer height */
}

html,body{background-color:#fff;}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-weight: normal;
  color: $lightgrey;
}

P {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;

  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

/* Footer */

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer { /* centers the text */
    text-align: center; /* horizontal centering */
    line-height: 50px; /* vertical centering; should be equal to the footer height */
}

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.date-select{
  .form-group select {
    @extend .col-sm-4;
    width: 32%;
    margin-left: 2%;
    &:first-of-type {
      margin-left: 0!important;
    }
  }
  .form-group label{
    display: block;
  }
}

legend{
  @extend h1;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.btnfix{
  width: 150px;
  display: block;
  margin: auto;
}

// Default form width convenience class
.userform{
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
}

/* tables */
.fixtable {
  width: 50%;
}

.buttonheight {
  height: 33px;
  margin-left: auto;
     margin-right: auto;
}

.special_column { width: 165px; }

.wide { width: 150px;}

.nowrap {
  white-space: nowrap ;
}

.alert {
  line-height: 25px;
  position:fixed;
  width: 50%;
  top:50px;
  padding: 10px;
  button {
    line-height: 13px;
    position:relative;
    top:4px;
    right: 10px;
  }
}

.inputfix {
  margin: 0px;
}

.click-to-edit {
    display: block;
    margin-bottom: 0px;
}

.click-to-edit {
    display: block;
    margin-bottom: 0px;
}

.swimmer-check-in {
  margin: 0px;
  width: 55%;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    float: left;
    clear: left;
    width:205px; // adjust
    height:115px; // adjust
}



