@import 'bootstrap';

@media (max-width: 767px) {
  .search { width:100%; }
}


@media (max-width: 1155px) {
  .image-mobile {
    width:70%;height:70%;
  }
}
.green-text {
  color:#28AFB0;
}

/* universal */
.button-on-nav {
  position: relative;
  top: 7px;
}
.navbar-default {
  background-color: #FFF;
}

* {
  box-sizing: border-box;
}
.devise {
  margin: 60px auto;
  width: 300px;
}
.devise-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.devise-title {
  text-align: center;
  color: #777;
}

.light-grey-text {
  color: #C0C0C0
}

@media (min-width: 768px) {
  .medium-grey-text {
    color: #757575;
  }
  .u-ul-position-fix {
    position: relative;
    top: 5px;
  }
}


html {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  background-color: #FFFFFF;
}

/* header */
.navbar-link {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 20px !important;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222222 !important;

  &:hover {
    color: #0FA0CE !important;
  }

}

* a{
  text-decoration: none !important
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .table-width-desktop {
    width: 66%;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .table-width-desktop {
    width: 95%;
    margin: 0 auto;
  }
}

#toast-container > .toast {
  background-image: none !important;
  padding-left: 25px;
}

#toast-container > .toast:before {
  position: fixed;
  font-size: 24px;
  line-height: 18px;
  float: right;
}

#toast-container > div {
  opacity: 0.9;
}

.toast-success {
  background-color: #323232;
}
