@import "bootstrap";

/* universal */

$lightgrey: #999;
$green: #006600;
$lightGrey: #C0C0C0;

.light-grey-text {
  color: $lightGrey
}

html {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  background-color: #FFFFFF;
}

body {
  height: 100%;
  padding-top: 0px;
  margin: 0 0 100px; /* bottom = footer height */
  background-color: #FFFFFF;
}

html,body{background-color:#fff;}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}


P {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;

  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

#big-nav {
  float: left;
  margin-right: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;

  li a {
    color: #fff;
  }

  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

#color-fix {
  li a {
    color: #555
  }
}

/* Footer */

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.footer { /* centers the text */
    padding: 50px;
    text-align: center; /* horizontal centering */
}

.mobile-nav { /* centers the text */
    text-align: center; /* horizontal centering */
    padding-top:10px;
    
}

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.date-select{
  .form-group select {
    @extend .col-sm-4;
    width: 32%;
    margin-left: 2%;
    &:first-of-type {
      margin-left: 0!important;
    }
  }
  .form-group label{
    display: block;
  }
}

legend{
  @extend h1;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

// .field_with_errors {
//   @extend .control-group;
//   @extend .error;
// }

.btnfix{
  width: 150px;
  display: block;
  margin: auto;
}

/* tables */
.fixtable {
  width: 50%;
}

.buttonheight {
  height: 33px;
  margin-left: auto;
     margin-right: auto;
}

.special_column { width: 165px; }

.wide { width: 150px;}

.nowrap {
  white-space: nowrap ;
}

.inputfix {
  margin: 0px;
}

.click-to-edit {
    display: block;
    margin-bottom: 0px;
}

.click-to-edit {
    display: block;
    margin-bottom: 0px;
}

.swimmer-check-in {
  margin: 0px;
  width: 55%;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    float: left;
    clear: left;
    width:205px; // adjust
    height:115px; // adjust
}

@media (min-width: 992px) {
  .userform{
    width: 66%;
    margin: 0 auto;
  }

  .desktop-alert-centering {
    margin-left: auto;
    margin-right: auto;
    width:66%;
  }

  .table-width-desktop {
    width: 66%;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .userform{
    width: 95%;
    margin: 0 auto;
  }

  .desktop-alert-centering {
    margin-left: auto;
    margin-right: auto;
    width:95%;
  }

  .table-width-desktop {
    width: 95%;
    margin: 0 auto;
  }
}

.btn-adjust {
  margin-bottom: 5px;
}

#support {
  color: $green;
}

.u-grey-border {
  border-style: solid;
  border-width: 1px;
  border-color:#E1E1E1;
  padding: 10px;
  border-radius: 8px;
}

@media (min-width: 500px) {
  .u-input-width{
    width:300px;
  }
}
