  #devise_html {
    overflow-y: scroll;
    position: relative;
    width: 100%;
    background-color:#ECEEF2;
  }

  #devise_body {
    height: 80%;
    padding-top: 0px;
    background-color:#ECEEF2;
  }

  * {
    box-sizing: border-box;
  }
  .devise {
    margin: 60px auto;
    width: 300px;
  }
  .devise-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
  }

  .devise-title {
    text-align: center;
    color: #777;
  }
