<% provide(:title, 'Frequently Asked Questions') %>

<h1>Frequently Asked Questions (FAQ)</h1>
<p>Updated 3/25/2020</p>

<h4>How do I add my swimmers?</h4>
<p>
  You must be an admin monitor to add or edit swimmer information. Visit the SWIMMERS page under your account. From there, you can click ADD SWIMMER to add swimmers one-at-a-time. Alternatively, you can click IMPORT SWIMMERS to upload a spreadsheet of swimmer information to create them in bulk.
</p>
<br>

<h4>What if I can’t find a swimmer?</h4>
<p>
  Please verify correct spelling in searching by the LAST NAME of a swimmer. If a new swimmer needs to be added to the database an admin can add one or multiple swimmers to the
  database on the Swimmers page.
</p>
<br>

<h4>Why do swimmers need a phone number to be checked in?</h4>
<p>
  Swimmers need a valid ten-digit phone number stored in order to be checked in for safety reasons. If for some reason not all swimmers are accounted for at the end of a session
  you can simply click CALL on the CHECK OUT page to call the swimmer directly and make sure they have exited the water safely. This usually happens because a swimmer did not
  get checked out properly at the end of their swim.
</p>
<br>

<h4>What if a swimmer needs to update their information?</h4>
<p>
  <b>Check In Page</b></br>
  On the Check In page, admins can click on the name of a swimmer to change their phone number, first name, or last name, then click Save. Non-admin monitors are not allowed
  to update swimmer information.

  <br><br>
  <b>Swimmers Page (admin only)</b></br>
  On the Swimmers page, admins can click on the name of a swimmer or click EDIT to change their phone number, first name, or last name, then click Save. Non-admin monitors are not allowed
  to view the Swimmers page or update swimmer information.
</p>
<br>

<h4>How do I give access to other monitors to log in?</h4>
<p>
  Only admin monitors can create other monitor logins. Visit the MONITORS page, then click ADD MONITOR to create a login for another monitor. Once added, you can add or remove admin privileges from them as well.
</p>
<br>

<h4>Why do reset my password?</h4>
<p>
  If your forgot your password and can't log in. Please email us at <a href="mailto:team@digiquatics.com">team@digiquatics.com</a> and we can reset your password manually for you.
</p>
<br>

<br><br><br><br>
