<% provide(:title, 'Instructions') %>

<h1>Instructions</h1>

<p>
  To start visit
  <a href='http://www.openwatertracker.com'>www.openwatertracker.com</a>
  in your mobile phone or tablet browser. We support Apple, Android and Windows
  devices.
</p>
<h4>Login</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/login.png' alt='Login' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <p>
      Use the following to login to Open Water Tracker: <br>
      username: <i class='green-text'>user@example.com (not your own email!)</i> <br>
      password: <i class='green-text'>openwater</i>
    </p>
  </div>
</div>
<br>
<h4>Check In</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/check_in.png' alt='Check In' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <ul>
      <li>Search for swimmer by last name.</li>
      <li>
        Click the
        <i class='green-text'>CHECK IN</i>
        button to check in the swimmer. If button is labled "Setup" please see
        below.
      </li>
      <li>
        Click the
        <i class='green-text'>SETUP</i>
        button, this will open a pop up where you can enter in the swimmers
        10-digit phone number (with no dashes). The swimmer will need to review
        the waiver provided on-site and acknowledge they agree to it by clicking
        the "Agree" button". Once the swimmer has agreed to the waiver
        click <i class='green-text'>CHECK IN</i> to check the swimmer in.
      </li>
    </ul>
  </div>
</div>
<br>
<h4>Check Out</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/check_out.png' alt='Check Out' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <ul>
      <li>Search for swimmer by last name or scroll down to find the correct swimmer.</li>
      <li>
        Click the <i class='green-text'>CHECK OUT</i> button to check out the swimmer.
      </li>
      <li>
        If you need to call the swimmer simply click <i class='green-text'>CALL</i>.
      </li>
    </ul>
  </div>
</div>
<br>
<hr>
<br>
<div class='row'>
  <div class='twelve columns'>
    <p class='u-grey-border grey-well'>Comments, questions or concerns.
      <br>Affektive Software LLC
      <br><a href='tel:1-800-594-2816'>CALL</a>
      <br><a href='mailto:team@digiquatics.com'>E-MAIL</a></p>
    </div>
  </div>
