<% provide(:title, 'Instructions') %>

<h1>Instructions</h1>

<p>To start visit <a href='http://www.comsatracker.com'>www.comsatracker.com</a> in your mobile phone or tablet browser. We support iOS, Android and Windows devices. </p>

<h4>Login</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/login.png' alt='Login' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <p>
      Use the following to login to COMSA TRACKER: <br>
      username: <i class='green-text'>user@example.com (not your own email!)</i> <br>
      password: <i class='green-text'>comsa1</i>
    </p>
  </div>
</div>
<br>

<h4>Check In</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/checkin.png' alt='Check In' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <ul>
      <li>Search for swimmer by last name.</li>
      <li>
        Click the <i class='green-text'>CHECK IN</i> button to check in the swimmer. If no phone number is present please see below.
      </li>
      <li>
        Click the <i class='green-text'>ADD PHONE</i> button, this will open a pop up where you can enter
        in the swimmers 10-digit phone number (with no dashes). Then click <i class='green-text'>CHECK IN</i>.
      </li>
    </ul>
  </div>
</div>
<br>

<h4>Check Out</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/checkout.png' alt='Check Out' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <ul>
      <li>Search for swimmer by last name or scroll down to find the correct swimmer.</li>
      <li>
        Click the <i class='green-text'>CHECK OUT</i> button to check out the swimmer.
      </li>
      <li>
        If you need to call the swimmer simply click <i class='green-text'>CALL</i>.
      </li>
    </ul>
  </div>
</div>
<br>

<h4>Out of State</h4>
<div class='row'>
  <div class='five columns'>
    <center>
      <img src='images/outofstate.png' alt='Out of State' class='image-mobile u-grey-border'><br><br>
    </center>
  </div>
  <div class='seven columns u-grey-border'>
    <ul>
      <li>Search for swimmer by last name.</li>
      <li>
        Click the <i class='green-text'>ADD</i> button to add the swimmer so they can be searched on the <i class='green-text'>Check In</i> page.
      </li>
      <li>
        Follow the steps from the <i class='green-text'>Check In</i> section.
      </li>
    </ul>
  </div>
</div>
<br>

<hr>
<br>
<div class='row'>
  <div class='twelve columns'>
    <p class='u-grey-border grey-well'>Comments, questions or concerns.
      <br>Michael Pierce
      <br><a href='tel:720.387.9691'>720.387.9691</a>
      <br><a href='mailto:matchmike1313@gmail.com'>matchmike1313@gmail.com</a></p>
    </div>
  </div>
