<footer class='footer hidden-xs'>
  <center>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <p style='color: #C0C0C0'>
        <a style='color: #C0C0C0' href = '/privacy'>
          Privacy
        </a> |
        <a style='color: #C0C0C0' href = '/tos'>
          TOS
        </a>
        <br>
        &#169; '2014 Affektive Software LLC
      </p>
    </nav>
  </center>
</footer>
