<footer class='footer'>
  <% if signed_in? %>
    <div class='visible-xs'>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class='btn-group'>
          <%= link_to 'Check In', swimmers_path, class: 'btn btn-success btn-sm', role: 'button' %>
          <%= link_to 'Check Out', swim_records_path, class: 'btn btn-danger btn-sm', role: 'button' %>
          <%= link_to 'Monitor Sign Out', destroy_user_session_path,
            method: :delete, class: 'btn btn-primary btn-sm', role: 'button' %>
        </div>
      </nav>
    </div>
  <% end %>
  <nav>
      <p>Copyright &#169; 2013-2014 Affektive Software LLC. All rights reserved. </p>
  </nav>
</footer>
